[[local|localrc]]
HOST_IP={{ ansible_default_ipv4.address }}
FIXED_RANGE=10.4.128.0/20
FLOATING_RANGE={{ floating_range }}
LOGFILE=/opt/stack/logs/stack.sh.log
ADMIN_PASSWORD={{ ADMIN_PASS }}
DATABASE_PASSWORD={{ DB_PASS }}
RABBIT_PASSWORD={{ RABBIT_PASS }}
SERVICE_PASSWORD={{ SRV_PASS }}
