[[local|localrc]]
HOST_IP={{ ansible_default_ipv4.address }}
FIXED_RANGE=10.4.128.0/20
FLOATING_RANGE=192.168.42.128/25
LOGFILE=/opt/stack/logs/stack.sh.log
ADMIN_PASSWORD={{ ADMIN_PASS }}
DATABASE_PASSWORD={{ DB_PASS }}
RABBIT_PASSWORD={{ RABBIT_PASS }}
SERVICE_PASSWORD={{ SRV_PASS }}
DATABASE_TYPE=mysql
SERVICE_HOST={{ CONTROLLER_IP }}
MYSQL_HOST=$SERVICE_HOST
RABBIT_HOST=$SERVICE_HOST
GLANCE_HOSTPORT=$SERVICE_HOST:9292
ENABLED_SERVICES=n-cpu,c-vol,placement-client,ovn-controller,ovs-vswitchd,ovsdb-server,q-ovn-metadata-agent
NOVA_VNC_ENABLED=True
NOVNCPROXY_URL="http://$SERVICE_HOST:6080/vnc_lite.html"
VNCSERVER_LISTEN=$HOST_IP
VNCSERVER_PROXYCLIENT_ADDRESS=$VNCSERVER_LISTEN
